{% extends 'base.html' %}


{% block mid-body %}
<br/>
   <div class="heading"> About Us </div>
<br/>
<div style="text-align:justify;">
<p>
Directorate General of Foreign Trade (DGFT) is a Government of India organisation under Ministry of Commerce and Industry with Headquarters at New Delhi and headed by a Director General. It is entrusted with the responsibility of framing all policies regarding export and import in India for Traders and Companies. It formulates and implements Foreign Trade Policy (FTP) of Government of India with the objective of promoting export and import related activities in India .It facilitates International Trade and thereby stimulates sustained national economic growth through the coordinated efforts of the Union and various State Governments, and by providing transparent,equitable,proactive Trade environment based on consultation. 
</p>
<p>
Under its umbrella, there are 4 zones viz., North(CLA, New Delhi),West(Mumbai),East(Kokata) and South(Chennai) headed by Zonal JDGFTs. Under each zone, there are several field offices functioning known as Regional Licensing Authorities (RLAs),each having jurisdiction of either entire state or a part of it. In total there are 39 such field formations in major cities all over the country. Hyderabad is one such RLA offices falling under South zone,Chennai and covering entire state of Telangana, comprised of 31 districts - Adilabad, Bhadradri Kothagudem, Hyderabad, Jagtial, Jangaon, Jayashankar Bhoopalpally, Jogulamba Gadwal, Kamareddy, Karimnagar, Khammam, Komaram Bheem Asifabad, Mahabubabad, Mahabubnagar, Mancherial, Medak, Medchal, Nagarkurnool, Nalgonda, Nirmal, Nizamabad, Peddapalle, Rajanna Sircilla, Rangareddy, Sangareddy, Siddipet, Suryapet, Vikarabad,Wanaparthy, Warangal, Yadadri Bhuvanagiri.
 </p>
The following functions are carried out under the FTP and Handbook of Procedures.
<ol>
    <li>
        Implement various Trade policies and different schemes introduced with the objective of promoting exports.
    </li>
    <li>
        Guidance to the exporters and importers on matters relating to exports and imports.
    </li>
    <li>
        Act as facilitator with other departments of Union Government/State Governments.
    </li>
    <li>
        Facilitator to exporters on developments in the International Trade area like WTO agreements, Antidumping issues, Rules of Origin etc to help them strategise decisions on import export activities. 
    </li>
    <li>
        Facilitate e-filing of applications for various authorisations and duty credits scrips on its website.
    </li>
</ol>


 <b> Office Timings </b> :- 9.15 AM to 5.45 PM Lunch Break: 1.30 PM to 2.00 PM from Monday to Friday except Public Holidays. 
<br/>
<b> Office Holidays </b> :- All Saturdays & Sundays, all Public Holidays (as per Twin Cities Central Govt. Employees coordination committee,Hyderabad approved). 
<br/>
<b> RNI Counter timings </b> :- <br/> 1. Receipt of Applications (All categories) 10.00 AM to 1.00 PM <br/>
                                  2. All other Receipts & Correspondences 10.00 AM to 4.00 PM 
                                  <br/>
                                  3. Hand Delivery of Certificates, Authorizations, Licences 4.00 PM to 5.00 PM 
                                  <br/>
                                  4. Visitors Timings:- 3.00 PM to 5.00 PM
                                  <br/>
<b>
     In case of urgency, the Trade Community may contact the Regional Additional DGFT,Hyderabad through appointment.
     </b>
     <hr/>
</div>

{% endblock mid-body %}