{% extends 'base.html' %}
{% block title %} Contact Us {% endblock title %} 
{% block mid-body %}
<br />
<div class="heading">Contact Us</div>
<br />

<br />

<div class="container-fluid">
  <div
    class="text-center"
    style="
      background-image: linear-gradient(to bottom, #ebeaaa, #e1eaf3);
      line-height: 35px;
    "
  >
    <br />
    <b> Office of The Additional Director General of Foreign Trade, </b> <br />
    C.G.O. Towers, Room No.302, 3rd Floor, <br />
    Kavadiguda, Secunderabad - 500080. <br />
    Phone: 91 - 040 - 27536930,27536932 <br />
    <b> Fax: </b> 91 - 040 - 27536932, <br />
    <b> Email: </b> hyderabad-dgft[at]nic[dot]in <br />
    <br />
    <b>
      Shri. G.Seetharam Reddy, ITS, <br />
      Additional DGFT
    </b>
    <hr />
  </div>
  <br />
  <div style="color: red; font-size: 18px">
    On this site in all email addresses "[at]"="@" and "[dot]"="."
  </div>
  <br />

  <div>
    <table class="table" style="font-size: 15px">
      <!--  background-image: linear-gradient(to top,
rgb(152, 205, 236),white, rgb(238, 230, 162)); -->
      <thead>
        <tr>
          <th scope="col">Sl.No.</th>
          <th scope="col">Name & Designation</th>
          <th scope="col">Office No.</th>
          <th scope="col">E-mail</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Shri. G.Seetharam Reddy, ITS,Additional DGFT</td>
          <td>27536932</td>
          <td>hyderabad-dgft[at]nic[dot]in</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Shri. K.Hrushikesh Reddy, ITS, Dy.DGFT</td>
          <td>27536930/36</td>
          <td>kh[dot]reddy[at]gov[dot]in</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Smt. L.Sreelakshmi,ITS, Asst. DGFT</td>
          <td>27536930/36</td>
          <td>ftdovsp[dot]ap[at]nic[dot]in</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Smt. K.Lalita,ITS, Asst. DGFT</td>
          <td>27536930/36</td>
          <td>lalitak[dot]dgftap[at]nic[dot]in</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Sri. D.Ramakrishna, F.T.D.O.</td>
          <td>27536930/36</td>
          <td>drk[dot]1962[at]gmail[dot]com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock mid-body %}
