{% extends 'base.html' %}


{% block title %}
IEC Number - ADGFT,Hyderabad
{% endblock title %}

{% block mid-body %}
<br />
<div class="heading"> IEC Number </div>
<br />
<br />
<br />
<br />


<div class="container-fluid">
    <div class="container-fluid">
        <table class="table table-success table-striped">
            <tbody>
                <tr>
                    <th scope="row">1.</th>
                   
                        <td><a href="{% url 'index' %}" class="table-center-link"> e-IEC online Application Information</a></td>
                    
                </tr>
                <tr>
                    <th scope="row">2.</th>
                    <td><a href="{% url 'index' %}" class="table-center-link">View Your IEC</a></td>
                </tr>
                <tr>
                    <th scope="row">3.</th>

                    <td><a href="{% url 'index' %}" class="table-center-link">IEC Status at Customs</a></td>
                </tr>

                <tr>
                    <th> 4. </th>
                    <td> <a href="{% url 'index' %}" class="table-center-link">FAQs on online new IEC application</a> </td>
                </tr>

                <tr>
                    <th> 5. </th>
                    <td> <a href="{% url 'index' %}" class="table-center-link">FAQs on online IEC modification application </a></td>
                </tr>

                <tr>
                    <th> 6. </th>
                    <td> <a href="{% url 'index' %}" class="table-center-link"> Duplicate IEC Affidavit</a> </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
{% endblock mid-body %}
