{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block mid-body %}
<br />
<div class="heading">Major Export Products</div>
<br />
<br />


<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">EXPORT PRODUCT GROUP</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>BULK DRUGS &amp; PHARMACEUTICALS</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td> SOFTWARE</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>AGRICULTURAL &amp; PROCESSED FOOD PRODUCTS </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td> LEATHER</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td> ENGINEERING PRODUCTS</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td> CHEMICALS &amp; ALLIED PRODUCTS</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td> HANDLOOMS &amp; TEXTILES</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td> HANDICRAFTS</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>GEM &amp; JEWELLARY</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>FISH &amp; FISH PRODUCTS </td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td> PLASTICS</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>  ELECTRICAL &amp; ELECTRONIC PRODUTS</td>

    </tr>
    <tr>
      <th scope="row">13</th>
      <td> TOBACCO</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td> MISCELLANEOUS</td>
    </tr>
    
 </table>
{% endblock mid-body %}