{% extends 'base.html' %}

{% load static %}
{% block title %}
Tenders
{% endblock title %}

{% block mid-body %}

<br />
<div class="heading"> Tenders </div>

<br/>


<div class="container">
    <ol class="ol-tenders">
        <a href="{% static 'docs/tenders/tend062020.pdf' %}" target="blank" class="ol-li-link">
            <li> Notice inviting quotations for disposal of old/unused furniture, broken/scrap items on as is where is
                basis/ Dated 10.11.2020 </li>
        </a>
        <a href="{% static 'docs/tenders/tend062020.pdf' %}" class="ol-li-link">
        <li>
            Tender Notice Quotations for Purchase of Laptop, Computer Monitor,Web Camera,
                HeadPhones, Printers and
                Windows 10 Genuine S/w /Dated 28.08.2020
        </li>
    </a>
    <a href="" class="ol-li-link">
        <li>
            Tender Notice for Manpower for Additional Director General of Foreign Trade,
                Hyderabad 
        </li>
    </a>
    <a href="" class="ol-li-link">
        <li>
            Tender Notice for Hiring of Vehicle for Additional Director General of Foreign
                Trade, Hyderabad /Dated
                02.06.2020
        </li>
    </a>
    <a href="" class="ol-li-link">
        <li>
            Tender Notice for Manpower for Additional Director General of Foreign Trade,
                Hyderabad /Dated 16.03.2020
        </li>
    </a>
    <a href="" class="ol-li-link">
        <li>Tender Notice for Hiring of Vehicle for Additional Director General of Foreign
                Trade, Hyderabad /Dated
                16.03.2020 
        </li>
    </a>
    <a href="" class="ol-li-link">
        <li>
            Tender Notice for Outsourcing of Services for Additional Director General of
                Foreign Trade, Hyderabad /Dated
                15.10.2019
        </li>
    </a>
    <a href="" class="ol-li-link">
        <li>
            Tender Notice for Hiring Vehicle for Additional Director General of Foreign
                Trade, Hyderabad /Dated
                16.09.2019
        </li>
    </a>
    <a href="" class="ol-li-link">
        <li>
            Tender Notice for Hiring Vehicle for Additional Director General of Foreign
                Trade, Hyderabad /Dated
                31.05.2019
        </li>
    </a>

    <a href="" class="ol-li-link">
        <li>
            Tender for Outsourcing of Services /Dated 17.08.2017
        </li>
    </a>
    <a href="" class="ol-li-link">
        <li>
            Tender for Outsourcing of Housekeeping Services /Dated 11.08.2016
        </li>
    </a>
    <a href="" class="ol-li-link">
        <li>
            Tender for Outsourcing of Services /Dated 11.08.2016
        </li>
    </a>
    <a href="" class="ol-li-link">
        <li>
            Tender for Hiring of Office Space for the O/o Joint Director General of
                Foreign Trade, Vijayawada /Dated
                13.03.2015
        </li>
    </a>
    </ol>
</div>

{% endblock mid-body %}
